"*":
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "b9c60e78-3aac-41e3-71ae-7ee4fd3ee78c"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
